@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@font-face {
    font-family: "Lobster";
    src: url(../font/Lobster-Regular.ttf);
}

@font-face {
    font-family: "NotoSerifCJKtc-Bold";
    src: url(../font/NotoSerifCJKtc-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Britannic Bold', 'Noto Serif CJK', '思源宋體', sans-serif;
}

img {
    width: 100%;
    height: auto;
}


/* 擋頭區 */

header {
    width: 100%;
    height: calc(100vh);
    display: flex;
    padding: 50px 50px;
}

#menu-bar {
    padding: 20px 50px 0 0;
}

#menu-bar .logo {
    width: auto;
    height: 100px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc2c2;
}

.row {
    margin: 0;
}

.menu {
    font-family: "Lobster";
    height: calc(100% - 100px);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu li {
    font-family: "NotoSerifCJKtc-Bold";
    letter-spacing: 3px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    padding: 20px 0;
}

.menu li a {
    text-decoration: none;
    color: #928A8A;
    border: solid 1px transparent;
    padding: 2px 0;
}

.menu li a:hover {
    border: solid 1px #cec2c2;
    padding: 2px 0;
    background-color: #ccc2c2;
    color: #fff;
}

.banner {
    background-image: url(images/banner_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width:767px) {
    .banner {
        background-image: url(./images/banner_phone-01.jpg);
    }
    #menu-bar {
        display: none;
    }
}

@media only screen and (min-width:768px) {
    .banner {
        background-image: url(./images/banner_ipad-01.jpg);
    }
    #menu-bar {
        display: none;
    }
}

@media only screen and (min-width:992px) {
    .banner {
        background-image: url(images/banner_1.jpg);
    }
    #menu-bar {
        display: block;
    }
}


/* 固定菜單列 */

#menu-bar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgba(243, 214, 214, 0.9);
    z-index: 9999;
}

#menu-bar.sticky .logo {
    flex: 0 0 auto;
    height: 100%;
    flex-direction: row;
    /* margin: 5px 20px 5px 10px; */
}

#menu-bar.sticky .menu {
    height: 100%;
    flex: 1 0 0%;
    flex-direction: row;
    align-items: center;
}

#menu-bar.sticky .menu li {
    margin: 5px;
}

@media only screen and (max-width:767px) {
    #menu-bar.sticky .menu {
        font-size: 0.7rem;
    }
}


/* service */

.service_title h2 {
    color: #928A8A;
    font-family: "NotoSerifCJKtc-Bold";
    margin: 80px auto 20px;
    text-align: center;
    letter-spacing: .3rem;
    border-bottom: solid 5px rgba(57, 54, 54, 0.1);
    width: 13%;
    padding-bottom: 15px;
}

@media only screen and (max-width:767px) {
    .service_title h2 {
        margin: 50px auto 15px;
        width: 60%;
        font-size: 1rem;
    }
}

@media only screen and (min-width:768px) {
    .service_title h2 {
        width: 60%;
    }
}

@media only screen and (min-width:992px) {
    .service_title h2 {
        width: 50%;
    }
}

#service_box {
    display: flex;
    width: 100%;
}

@media only screen and (max-width:767px) {
    #service_box {}
}

@media only screen and (min-width:768px) {
    #service_box {}
}

@media only screen and (min-width:992px) {
    #service_box {
        width: 100%;
    }
}

.service_pt {
    position: relative;
    padding: 0 3%;
}

.service_pt h3 {
    font-family: "NotoSerifCJKtc-Bold";
    position: absolute;
    background-color: rgba(57, 54, 54, 0.5);
    color: #fff;
    letter-spacing: .8rem;
    font-size: 2rem;
    width: 93.9%;
    line-height: 340px;
    text-align: center;
    top: calc(32% - 50px);
}

@media only screen and (max-width:767px) {
    .service_pt h3 {
        font-size: 1rem;
        line-height: 100px;
        top: calc(32% - 10px);
    }
}

@media only screen and (min-width:768px) {
    .service_pt h3 {
        line-height: 293px;
        top: calc(32% - 62px);
    }
}

@media only screen and (min-width:992px) {
    .service_pt h3 {
        line-height: 340px;
        top: calc(32% - 50px);
    }
}

.service_pt h3:hover {
    background-color: rgba(207, 201, 201, 0.2);
    margin-top: -3px;
    text-shadow: 2px 2px 2px #5c5757;
}

.service_list p {
    padding: 2% 4%;
    font-family: "NotoSerifCJKtc-Bold";
    font-size: 1.2rem;
    color: #777070;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media only screen and (max-width:767px) {
    .service_list p {
        font-size: 0.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}

@media only screen and (min-width:768px) {
    .service_list p {}
}

@media only screen and (min-width:992px) {
    .service_list p {
        font-size: 1.2rem;
    }
}

.service_btn {
    display: inline-block;
    background-color: #928A8A;
    width: 30%;
    text-align: center;
    margin-left: 33%;
    padding: 5px 0;
    font-family: "NotoSerifCJKtc-Bold";
    border-radius: 20px;
    box-shadow: 3px 3px 5px #4e4e4e;
}

@media only screen and (max-width:767px) {
    .service_btn {
        border-radius: 10px;
        padding: 0;
    }
}

@media only screen and (min-width:768px) {
    .service_btn {}
}

@media only screen and (min-width:992px) {
    .service_btn {}
}

.service_btn:hover {
    background-color: #ccc2c2;
    color: #5e5959;
    margin-top: -3px;
    text-shadow: 2px 2px 2px #5c5757;
}

.service_btn a {
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width:767px) {
    .service_btn a {
        font-size: 0.5rem;
    }
}


/* portfolio */

#bg {
    background-color: rgba(230, 215, 213, .5);
    padding-top: 20px;
    margin-top: 50px;
    width: 100%;
}

@media only screen and (max-width:767px) {
    #bg {}
}

@media only screen and (min-width:768px) {
    #bg {}
}

@media only screen and (min-width:992px) {
    #bg {
        width: 100%;
    }
}

.portfolio_title h2 {
    color: #928A8A;
    display: block;
    font-family: "NotoSerifCJKtc-Bold";
    margin: 80px auto 20px;
    text-align: center;
    height: 100%;
    letter-spacing: .3rem;
    border-bottom: solid 5px rgba(57, 54, 54, 0.1);
    width: 30%;
    padding-bottom: 15px;
}

@media only screen and (max-width:767px) {
    .portfolio_title h2 {
        font-size: 1rem;
        width: 60%;
        margin: 50px auto 15px;
    }
}

@media only screen and (min-width:768px) {
    .portfolio_title h2 {
        width: 60%;
    }
}

@media only screen and (min-width:992px) {
    .portfolio_title h2 {
        width: 50%;
    }
}

#portfolio_box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.portfolio_pt img {
    box-shadow: -8px -8px 0px #cca9a9;
}

@media only screen and (max-width:767px) {
    .portfolio_pt img {
        width: 280px;
    }
}

@media only screen and (min-width:768px) {
    .portfolio_pt img {}
}

@media only screen and (min-width:992px) {
    .portfolio_pt img {}
}

.portfolio_pt {
    width: 50%;
    padding: 0 70px;
    margin-bottom: 30px;
}

@media only screen and (max-width:767px) {
    .portfolio_pt {
        width: 52%;
        padding: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 20px auto;
    }
}

@media only screen and (min-width:768px) {
    .portfolio_pt {}
}

@media only screen and (min-width:992px) {
    .portfolio_pt {}
}

figcaption {
    margin: 10px 0;
}

.portfolio_pt h2 {
    color: #928A8A;
    font-family: "NotoSerifCJKtc-Bold";
    font-size: 2rem;
    text-align: right;
    font-weight: bolder;
    letter-spacing: .3rem;
}

.portfolio_pt span {
    color: #928A8A;
    font-family: "NotoSerifCJKtc-Bold";
    font-size: 1rem;
    letter-spacing: .2rem;
    margin-right: 10px;
}

@media only screen and (max-width:767px) {
    figcaption {
        margin: 3px 0;
    }
    .portfolio_pt h2 {
        text-align: left;
        font-size: 1.5rem;
    }
    .portfolio_pt span {}
}

@media only screen and (min-width:768px) {
    .portfolio_pt h2 {}
}

@media only screen and (min-width:992px) {
    .portfolio_pt h2 {}
}


/* cooperation */

.cooperation_title h2 {
    color: #928A8A;
    display: block;
    font-family: "NotoSerifCJKtc-Bold";
    margin: 80px auto 20px;
    text-align: center;
    height: 100%;
    letter-spacing: .3rem;
    border-bottom: solid 5px rgba(57, 54, 54, 0.1);
    width: 25%;
    padding-bottom: 15px;
}

@media only screen and (max-width:767px) {
    .cooperation_title h2 {
        margin: 50px auto 15px;
        width: 60%;
        font-size: 1rem;
    }
}

@media only screen and (min-width:768px) {
    .cooperation_title h2 {
        width: 60%;
    }
}

@media only screen and (min-width:992px) {
    .cooperation_title h2 {
        width: 50%;
    }
}

#cooperation_box1 {
    width: 100%;
}

@media only screen and (max-width:767px) {
    #cooperation_box1 {}
}

@media only screen and (min-width:768px) {
    #cooperation_box1 {}
}

@media only screen and (min-width:992px) {
    #cooperation_box1 {
        width: 100%;
    }
}

.cooperation_pt {
    position: relative;
    width: 80%;
    margin: 10px auto;
}

.cooperation_text {
    position: absolute;
    top: 30%;
    padding-left: 20px;
    font-family: "NotoSerifCJKtc-Bold";
    color: rgba(255, 255, 255, 0.8);
}

.cooperation_text:hover {
    color: rgba(255, 255, 255, 1)
}

.cooperation_text h2 {
    font-size: 4rem;
}

.cooperation_text p {
    font-size: 1.5rem;
}

@media only screen and (max-width:767px) {
    .cooperation_text h2 {
        font-size: 2rem;
    }
    .cooperation_text {
        bottom: 20px;
    }
    .cooperation_text p {
        font-size: 10px;
    }
}

@media only screen and (min-width:768px) {
    .cooperation_text {}
}

@media only screen and (min-width:992px) {
    .cooperation_text {}
}


/* about dora */

#about_title h2 {
    color: #928A8A;
    display: block;
    font-family: "NotoSerifCJKtc-Bold";
    margin: 80px auto 20px;
    text-align: center;
    height: 100%;
    letter-spacing: .3rem;
    border-bottom: solid 5px rgba(57, 54, 54, 0.1);
    width: 18%;
    padding-bottom: 15px;
}

@media only screen and (max-width:767px) {
    #about_title h2 {
        font-size: 1rem;
        width: 60%;
        margin: 50px auto 15px;
    }
}

@media only screen and (min-width:768px) {
    #about_title h2 {
        width: 60%;
    }
}

@media only screen and (min-width:992px) {
    #about_title h2 {
        width: 50%;
    }
}

.about_pt {
    position: relative;
    width: 90%;
    margin: 0 auto;
    opacity: 0.8;
}

@media only screen and (max-width:767px) {
    .about_pt {}
}

@media only screen and (min-width:768px) {
    .about_pt {}
}

@media only screen and (min-width:992px) {
    .about_pt {
        width: 90%;
    }
}

.about_pt:hover {
    opacity: 1;
}

.about_pt img {}

.about_text {
    position: absolute;
    margin-right: 10px;
    padding: 20px;
    font-family: "NotoSerifCJKtc-Bold";
    color: #fff;
    background-color: rgba(207, 171, 171, 0.8);
    top: 20%;
    right: 0;
    width: 50%;
}

@media only screen and (max-width:767px) {
    .about_text {
        top: 8%;
    }
}

@media only screen and (min-width:768px) {
    .about_text {
        top: 15%;
    }
}

@media only screen and (min-width:992px) {
    .about_text {}
}

.about_text h2 {
    margin: 10px 0;
    font-size: 3rem;
    color: #816060;
}

@media only screen and (max-width:767px) {
    .about_text p {
        font-size: 8px;
        line-height: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .about_text h2 {
        font-size: 15px;
    }
}

@media only screen and (min-width:768px) {
    .about_text h2 {
        font-size: 1rem;
    }
    .about_text p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}

@media only screen and (min-width:992px) {
    .about_text h2 {
        font-size: 3rem;
    }
}


/* video */

.video_title h2 {
    color: #928A8A;
    display: block;
    font-family: "NotoSerifCJKtc-Bold";
    margin: 80px auto 20px;
    text-align: center;
    height: 100%;
    letter-spacing: .3rem;
    border-bottom: solid 5px rgba(57, 54, 54, 0.1);
    width: 10%;
    padding-bottom: 15px;
}

@media only screen and (max-width:767px) {
    .video_title h2 {
        margin: 50px auto 15px;
        width: 60%;
        font-size: 1rem;
    }
}

@media only screen and (min-width:768px) {
    .video_title h2 {
        width: 60%;
    }
}

@media only screen and (min-width:992px) {
    .video_title h2 {
        width: 50%;
    }
}

.video_box {
    margin: 0 20px;
}


/* footer */

#footer {
    font-size: 0.2em;
    font-family: "NotoSerifCJKtc-Bold";
    color: #928A8A;
    margin: 20px;
    clear: both;
    padding: 20px 0;
    text-align: center;
}


/* about.html */


/* 固定菜單列 */

#menu-bar_1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: rgba(243, 214, 214, 0.9);
    z-index: 9999;
}

#menu-bar_1 .logo {
    flex: 0 0 auto;
    width: auto;
    height: 80%;
    flex-direction: row;
    align-items: center;
    margin-top: 14px;
}

#menu-bar_1 .menu {
    height: 100%;
    flex: 1 0 0%;
    flex-direction: row;
    align-items: center;
}

#menu-bar_1 .menu li {
    margin: 5px;
}

@media only screen and (max-width:767px) {
    #menu-bar_1 .menu {
        font-size: 0.7rem;
    }
    #menu-bar_1 .logo {
        height: 70%;
        margin-top: 18px;
    }
}

#about_bg header {
    height: 5px;
}

#about_bg {
    height: 180vh;
    width: 100%;
    background-color: #F4E9E9;
    margin: 0;
}

#about_bg h1 {
    font-family: "NotoSerifCJKtc-Bold";
    color: #8d6565;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: .3rem;
    border-bottom: solid 5px rgba(57, 54, 54, 0.1);
    padding-bottom: 15px;
    margin: 0px auto;
    padding-top: 40px;
    text-align: center;
}

@media only screen and (max-width:767px) {
    #about_bg h1 {
        font-size: 1.5rem;
        width: 70%;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    #about_bg {
        height: 150vh;
    }
}

@media only screen and (min-width:768px) {
    #about_bg h1 {
        width: 60%;
    }
}

@media only screen and (min-width:992px) {
    #about_bg h1 {
        width: 60%;
    }
}

#about_img {
    background-image: url(./images/aboutpage.jpg);
    background-size: cover;
    background-position: center center;
    /* x,y */
    background-attachment: fixed;
    /* 滾輪滑動背景不動 */
    margin-top: 30px;
}

#about_bg p {
    font-family: "NotoSerifCJKtc-Bold";
    letter-spacing: .1rem;
    color: rgb(105, 65, 65);
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 副軸置中 */
    margin: 0 auto;
    width: 55%;
    height: 100vh;
    background-color: rgba(223, 200, 217, 0.6);
}

@media only screen and (max-width:767px) {
    #about_bg p {
        width: 80%;
        font-size: .2rem;
    }
}

@media only screen and (min-width:768px) {
    #about_bg p {
        width: 80%;
    }
}

@media only screen and (min-width:992px) {
    #about_bg p {
        width: 55%;
    }
}


/* 捲軸 scroll box */

.scrollbox {
    position: relative;
    width: 320px;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
    /* background-color: #fff; */
    overflow: scroll;
    /* box-shadow:0 2px 10px rgba(#000,.5); */
    box-sizing: border-box;
    -webkit-scrollbar: border-box;
}

.scrollbox::-webkit-scrollbar {
    width: 10px;
    background: #eee;
}

.scrollbox::-webkit-scrollbar:horizontal {
    height: 10px;
}

.scrollbox::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
    background: #ddd;
}

.scrollbox::-webkit-scrollbar-thumb {
    background: rgb(68, 68, 68);
}

.scrollbox::-webkit-scrollbar-corner {
    background: #ddd;
}

#page_logo img {
    display: block;
    width: 6%;
    margin: 50px auto;
}


/* 花卉課程 */

#lessons_bg {
    height: 150vh;
    width: 100%;
    background-color: #F4E9E9;
    margin: 0;
}

#lessons_bg header {
    height: 10px;
}

#lessons_bg h1 {
    font-family: "NotoSerifCJKtc-Bold";
    color: #8d6565;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: .3rem;
    border-bottom: solid 5px rgba(57, 54, 54, 0.1);
    width: 70%;
    padding-bottom: 15px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 50px;
    padding-top: 100px;
}

@media only screen and (max-width:767px) {
    #lessons_bg {
        height: 130vh;
    }
    #lessons_bg h1 {
        font-size: 1.5rem;
        width: 80%;
        margin-bottom: 33px;
        padding-top: 20px;
    }
}

@media only screen and (min-width:768px) {
    #lessons_bg {
        height: 120vh;
    }
    #lessons_bg h1 {
        font-size: 2rem;
        width: 60%;
        padding-top: 50px;
    }
}

@media only screen and (min-width:992px) {
    #lessons_bg h1 {
        font-size: 2rem;
        width: 70%;
    }
}


/* banner */


/* Section-1 Styles */

#section-1 {
    width: 100%;
    height: calc(100vh - 70px);
    color: #fff;
    background-color: #222;
}

#section-1 .content-slider {
    position: relative;
    width: 100%;
    height: 100%;
}

#section-1 .content-slider input {
    display: none;
}

#section-1 .content-slider .slider {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
}

#section-1 .content-slider .slider .banner {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    width: inherit;
    height: inherit;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all 0.5s ease;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper {
    height: 100%;
    padding-top: 15em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4));
    box-sizing: border-box;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    padding-bottom: 0.6em;
    font-family: "NotoSerifCJKtc-Bold";
    font-weight: 400;
    font-size: 3em;
    text-transform: none;
    letter-spacing: .4rem;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-family: "NotoSerifCJKtc-Bold";
    font-size: 8em;
    line-height: 95%;
    letter-spacing: .4rem;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
    display: block;
    width: 4em;
    height: 0.1875em;
    margin: 2.5em auto;
    background: #fff;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button {
    padding-bottom: 5em;
    z-index: 15 !important;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a {
    padding: 0.5em 2em;
    text-align: center;
    /* font-family: Montserrat, sans-serif; */
    font-size: 0.875em;
    color: #fff;
    text-transform: uppercase;
    border: 0.1875em solid #fff;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
    color: #976060;
    border-color: #976060;
    transition: 0.3s;
}

#section-1 .content-slider .slider #top-banner-1 {
    background: url('./images/lessons_1.jpg') no-repeat center center;
    background-size: cover;
}

#section-1 .content-slider .slider #top-banner-2 {
    background: url('./images/lessons_2.jpg') no-repeat center center;
    background-size: cover;
}

#section-1 .content-slider .slider #top-banner-3 {
    background: url('./images/lessons_3.jpg') no-repeat center center;
    background-size: cover;
}

#section-1 .content-slider .slider #top-banner-4 {
    background: url('./images/lessons_4.jpg') no-repeat center center;
    background-size: cover;
}

#section-1 .content-slider .slider #top-banner-5 {
    background: url('./images/lessons_5.jpg') no-repeat center center;
    background-size: cover;
}

#section-1 .content-slider nav {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    z-index: 10;
    text-align: center;
}

#section-1 .content-slider nav .controls {
    display: block;
    width: 70%;
    margin: 0 auto;
    /* font-family: Montserrat, sans-serif; */
    color: #fff;
}

#section-1 .content-slider nav .controls label {
    position: relative;
    display: inline-block;
    width: 15%;
    /* height: 3.1em; */
    overflow: hidden;
    margin: 0 1em;
    padding-top: 1em;
    text-align: left;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #976060;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
}

@media only screen and (max-width:767px) {
    #section-1 .content-slider nav .controls label {
        width: 7%;
        margin: 0 0.3em;
    }
}

@media only screen and (min-width:768px) {
    #section-1 .content-slider nav .controls label {
        width: 5%;
        margin: 0 .5em;
    }
}

@media only screen and (min-width:992px) {
    #section-1 .content-slider nav .controls label {
        width: 15%;
        margin: 0 1em;
    }
}

#section-1 .content-slider nav .controls label .progressbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #976060;
    z-index: 100;
}

#section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
    position: inherit;
    width: inherit;
    height: inherit;
    margin-left: -100%;
    background: #64374d;
}

#section-1 .content-slider nav .controls label span {
    font-size: 1.4em;
    font-weight: 700;
}

#section-1 .content-slider nav .controls label:hover {
    color: #0152B9;
}

#section-1 .content-slider #banner1:checked~.slider #top-banner-1,
#section-1 .content-slider #banner2:checked~.slider #top-banner-2,
#section-1 .content-slider #banner3:checked~.slider #top-banner-3,
#section-1 .content-slider #banner4:checked~.slider #top-banner-4,
#section-1 .content-slider #banner5:checked~.slider #top-banner-5 {
    opacity: 1;
    z-index: 1;
}

#section-1 .content-slider #banner1:checked~nav label:nth-of-type(1),
#section-1 .content-slider #banner2:checked~nav label:nth-of-type(2),
#section-1 .content-slider #banner3:checked~nav label:nth-of-type(3),
#section-1 .content-slider #banner4:checked~nav label:nth-of-type(4),
#section-1 .content-slider #banner5:checked~nav label:nth-of-type(5) {
    cursor: default;
    color: #fff;
    transition: all 0.5s;
}

#section-1 .content-slider #banner1:checked~nav label:nth-of-type(1) .progressbar,
#section-1 .content-slider #banner2:checked~nav label:nth-of-type(2) .progressbar,
#section-1 .content-slider #banner3:checked~nav label:nth-of-type(3) .progressbar,
#section-1 .content-slider #banner4:checked~nav label:nth-of-type(4) .progressbar,
#section-1 .content-slider #banner5:checked~nav label:nth-of-type(5) .progressbar {
    background: #fff;
}

#section-1 .content-slider #banner1:checked~nav label:nth-of-type(1) .progressbar-fill,
#section-1 .content-slider #banner2:checked~nav label:nth-of-type(2) .progressbar-fill,
#section-1 .content-slider #banner3:checked~nav label:nth-of-type(3) .progressbar-fill,
#section-1 .content-slider #banner4:checked~nav label:nth-of-type(4) .progressbar-fill,
#section-1 .content-slider #banner5:checked~nav label:nth-of-type(5) .progressbar-fill {
    animation: progressBarFill 5s linear;
}


/* Animations */

@keyframes progressBarFill {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0;
    }
}

#reservation {
    font-family: "NotoSerifCJKtc-Bold";
    color: #8d6565;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: .3rem;
    border-bottom: solid 5px rgba(57, 54, 54, 0.1);
    width: 12%;
    padding-bottom: 15px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 50px;
    padding-top: 100px;
}


/* 花禮推薦 */

#gift_page header {
    height: 20px;
}

#gift_page {
    height: 180vh;
    width: 100%;
    background-color: #F4E9E9;
    margin: 0;
}

@media only screen and (max-width:767px) {
    #gift_page {
        height: 180vh;
    }
}

@media only screen and (min-width:768px) {
    #gift_page {}
}

@media only screen and (min-width:992px) {
    #gift_page {
        height: 150vh;
    }
}

#gift_title {
    font-family: "NotoSerifCJKtc-Bold";
    color: #8d6565;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: .3rem;
    border-bottom: solid 5px rgba(57, 54, 54, 0.1);
    width: 60%;
    padding-bottom: 15px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 50px;
    padding-top: 50px;
}

@media only screen and (max-width:767px) {
    #gift_title {
        font-size: 1.5rem;
        width: 70%;
        padding-top: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width:768px) {
    #gift_title {
        font-size: 2rem;
        width: 600%;
    }
}

@media only screen and (min-width:992px) {
    #gift_title {
        font-size: 2rem;
        width: 60%;
    }
}

#img_1 {
    background-image: url(./images/gift_1.jpg);
    width: 80%;
    height: 90vh;
    overflow: hidden;
    margin: 0 auto;
}

.gift_text_1 {
    color: #fff;
    font-family: "NotoSerifCJKtc-Bold";
    font-weight: bolder;
    letter-spacing: 1rem;
    text-align: center;
    line-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
}

.gift_text_1:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(138, 85, 85);
}

.gift_text_1 h3 {
    font-size: 2rem;
}

.gift_text_1 h2 {
    font-size: 3rem;
}

.gift_text {
    color: #fff;
    font-family: "NotoSerifCJKtc-Bold";
    font-weight: bolder;
    letter-spacing: .3rem;
    text-align: center;
    line-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
}

.gift_text:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(138, 85, 85);
}

#img_2 {
    background-image: url(./images/gift_2.jpg);
}

#img_3 {
    background-image: url(./images/gift_3.jpg);
}

#img_2,
#img_3 {
    width: 40%;
    margin: 20px 10px;
    height: 50vh;
    display: inline-block;
    /* background-position-x: center; */
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.img_2_3 {
    text-align: center;
}

@media only screen and (max-width:767px) {
    #img_1 {
        background-position-x: center;
        background-size: cover;
        width: 85%;
        height: 45vh;
    }
    .gift_text_1 {
        letter-spacing: .3rem;
    }
    .gift_text_1 h3 {
        font-size: 1.5rem;
    }
    .gift_text_1 h2 {
        font-size: 1.8rem;
    }
    #img_2,
    #img_3 {
        margin: 20px auto;
        width: 85%;
        height: 45vh;
        display: flex;
        background-position-x: center;
    }
    .gift_text {
        width: 100%;
    }
}

@media only screen and (min-width:768px) {
    #img_1 {
        background-position-x: center;
        background-size: cover;
        width: 90%;
        height: 53vh;
    }
    #img_2,
    #img_3 {
        width: 44%;
        height: 36vh;
    }
}

@media only screen and (min-width:992px) {
    #img_1 {}
}


/* COOPERATION */

#cooperation_page header {
    height: 15vh;
}

#cooperation_page {
    height: 130vh;
    width: 100%;
    background-color: #F4E9E9;
    margin: 0;
}

#coop_title {
    font-family: "NotoSerifCJKtc-Bold";
    color: #8d6565;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: .3rem;
    border-bottom: solid 5px rgba(57, 54, 54, 0.1);
    width: 60%;
    padding-bottom: 15px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 50px;
    padding-top: 30px;
}

.coop_img {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.coop_img img {
    margin: 10px 15px;
    border-radius: 80px;
    width: 20%;
}

.coop_img img:hover {
    background-color: #fff;
}

@media only screen and (max-width:767px) {
    #cooperation_page header {
        height: 4vh;
    }
    #cooperation_page {
        height: 100vh;
    }
    #coop_title {
        width: 60%;
        font-size: 1rem;
        padding-top: 15px;
        margin-bottom: 20px;
    }
    .coop_img img {
        margin: 5px 8px;
        border-radius: 20px;
        width: 20%;
    }
}

@media only screen and (min-width:768px) {
    #cooperation_page {
        height: 100vh;
    }
    #cooperation_page header {
        height: 8vh;
    }
    .coop_img img {
        border-radius: 60px;
    }
}

@media only screen and (min-width:992px) {
    #cooperation_page {
        height: 130vh;
    }
    #cooperation_page header {
        height: 16vh;
    }
    .coop_img img {
        border-radius: 80px;
    }
}


/* CONTACT */

#contact_page header {
    height: 15vh;
}

#contact_page {
    height: 100vh;
    width: 100%;
    background-color: #F4E9E9;
    margin: 0;
}

#contact_title {
    font-family: "NotoSerifCJKtc-Bold";
    color: #8d6565;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: .3rem;
    border-bottom: solid 5px rgba(57, 54, 54, 0.1);
    width: 60%;
    padding-bottom: 15px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 50px;
    padding-top: 20px;
}

#contactform {
    width: 50%;
    margin: 0 auto;
}


/* BUTTON */

button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 60px;
    width: 210px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
    margin: 20px auto;
}

button span {
    color: #164ca7;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

button:hover {
    animation: rotate 0.7s ease-in-out both;
}

button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

@media only screen and (max-width:767px) {
    #contact_title {
        font-size: 1.5rem;
        width: 70%;
        padding-top: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width:768px) {
    #contact_title {
        font-size: 2rem;
        width: 600%;
    }
}

@media only screen and (min-width:992px) {
    #contact_title {
        font-size: 2rem;
        width: 60%;
    }
}